.app-content{
    margin-top: 10px;
}
.search_name{
    padding: 5px;
}
.form-control{
    margin: 0px auto;
}
form{
    background-color: black;
}
form{
    background-color: black;
}
input{
    background-color: white;
}